<h1><%=@student.name%>'s Assignments</h1>
<a href="/users">Home</a> | <a href="/assignments/students/<%=@student.id%>/new">New Assignment</a>
<br>
<%@student.assignments.reverse.each do |assignment|%>
    <div style = "white-space: pre-line;">
        <%=assignment.created_at.strftime("%b %d, %Y")%> | <a href="/assignments/<%=assignment.id%>/edit">Edit</a>
        <%=assignment.content%>
    </div>
    <br>
    <hr style="width:50%;text-align:left;margin-left:0">
<%end%>