<h1><%=@student.name%>'s Assignments</h1>
<a href="/users">Home</a> | <a href="/assignments/students/<%=@student.id%>/new">New Assignment</a>
<br>
<%@student.assignments.reverse.each do |assignment|%>
    <br>
    <p>
    <%=assignment.created_at.strftime("%b %d, %Y")%> | <a href="/assignments/students/<%=@student.id%>/edit">Edit</a>
    <br>
    <br>
    <%=assignment.content%>
    </p>
    <br>
    <hr style="width:50%;text-align:left;margin-left:0">
<%end%>