<img style='vertical-align:middle;' src="/images/logo.png" alt="logo" height="75" display="inline">
<div style='vertical-align:middle; display:inline; font-size: 36px; line-height: 54px;'>
     Welcome, <%=@user.name%>!
</div> 


    <div class = "sidebar">
    <h2>Menu</h2>
        <form method="post" action="/users/logout">
            <input type="submit" value="Sign-out">
        </form>
        <br>
        <form method="get" action="/users/<%=@user.id%>">
            <input type="submit" value="Account Details">
        </form>
       <br>
        <form method="post" action="/users/<%=@user.id%>/delete">
            <input id="hidden" type="hidden" name="_method" value="DELETE">
            <input type="submit" value="Delete Account">
        </form>
        

    </div>

    <%if @user.teacher?%>
        <h3>Current Students:</h3>
        <%if @students.empty?%>
            Coming Soon!
        <%else%>
            <ul>
                <%@students.each do |student|%>
                    <br>
                    <a href="/assignments/students/<%=student.id%>"> <%=student.name%> </a>
                    <br>
                <%end%>
            <ul>
            <br>
            <h3>Recent Assignments:</h3>
            <ul>
                <%@user.student_assignments.reverse.first(@user_count).each do |assignment|%>
                    <br>
                    <a href="/assignments/students/<%=assignment.student.id%>"><%=assignment.student.name%></a> | <%=assignment.created_at.strftime("%b %d, %Y")%>
                    <br>
                    <br>
                    <%=assignment.content%>
                    <br>
                    <br>
                    <hr style="width:50%;text-align:left;margin-left:0">
                <%end%>
            </ul>
        <%end%>
    <%else%>
        <h2>Teacher: <%=@user.teacher.name%></h2>
            <%if @user.assignments.empty?%>
                <p>ASSIGNMENTS COMING SOON!</p>
            <%else%>
                <h3>Assignments:</h3>
                <%@user.assignments.reverse.first(3).each do |assignment|%>
                    <br>
                    <p>
                    <%=assignment.created_at.strftime("%b %d, %Y")%>
                    <br>
                    <br>
                    <%=assignment.content%>
                    <br>
                    
                    </p>
                    
                    <hr style="width:50%;text-align:left;margin-left:0">
                    <%end%>
                    <br>
                    <a href="/assignments">See more</a>
            <%end%>
    <%end%>